html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --inverse-text-color: #14110fff;
  --accent-color: rgb(247, 40, 40);
  --text-color: #f3f3f4ff;
  --text-accent-color: #f9a03fff;
}

.page {
  background-color: #0d0236;
  background-image: url(img/night-sky.svg);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 750px) {
  .page {
    font-size: 24px;
  }
}

.page-header {
  display: flex;
  height: 40vh;
  padding: 20px;
  background-color: transparent;
  background-image: url(img/top-gradient.svg);
  background-repeat: no-repeat;
  background-size: auto 90vw;
}

@media screen and (min-width: 750px) {
  .page-header {
    background-size: cover;
    padding: 60px;
    margin-bottom: 70px;
  }
}

.logo {
  margin: 0 auto;
  min-width: 95%;
  object-fit: contain;
}

.projects-list {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
}

@media screen and (min-width: 750px) {
  .projects-list {
    gap: 40px;
    margin-bottom: 10vh;
  }
}
.project {
  width: 300px;
  max-width: 550px;
  flex-grow: 1;
  background-image: linear-gradient(to bottom, hsl(229, 71%, 29%) 0%, #c5449a 100%);
}
@media screen and (min-width: 750px) {
  .project {
    width: 330px;
  }
}
.project__link {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "image title"
    "description description";
    gap: 20px 10px;
  padding: 20px;
}

.project__link:hover,
.project__link:active {
  filter: saturate(2);

  transform: scale(1.02);
}
.project__link:visited {
  filter: brightness(1.2);
}
.project__title {
  grid-area: title;
  color: var(--text-accent-color);
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  text-align: center;
  font-size: 1.3em;
}

.project__image {
  grid-area: image;
  width: 128px;
  height: 128px;
}

.project__description {
  grid-area: description;
  width: 90%;
  font-size: 0.9em;
  padding-bottom: 0.1em;
}
