*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --text-color: rgb(231, 230, 223);
  --text-accent-color: #f9a03fff;
  --gradient-bottom: #08447d;
  --gradient-top: #8a3f73;
}

.page {
  background-color: #0d0236;
  background-image: url(img/night-sky.svg);
  background-attachment: fixed;
  color: var(--text-color);
  font-size: clamp(18px, 3vw, 24px);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 750px) {
  .page {
    background-size: cover;
  }
}

.page-header {
  display: flex;
  max-width: 100vw;
  padding: clamp(20px, 10vw, 60px);
  margin-bottom: clamp(0px, 2vw, 50px);
  background-color: transparent;
  background-image: url(img/top-gradient.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 190%;
}

.logo {
  margin: 0 auto;
  max-width: min(600px, 80vw);
  object-fit: contain;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(0.5em, 3vw, 40px);
  max-width: min(1250px, 97vw);
  margin: 0 auto;
  padding: 20px;
}

@media screen and (min-width: 750px) {
  .projects-list {
    margin-bottom: 10vh;
  }
}
.project {
  width: clamp(280px, 30vw, 370px);
  max-width: min(25em, 550px);
  flex-grow: 1;
  border-radius: 3px;
  background-image: linear-gradient(
    to bottom,
    var(--gradient-top) 10%,
    var(--gradient-bottom) 80%
  );
}

.project__link {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "image title"
    "image description";
  gap: min(3vw, 1em) 0.7em;
  padding: 20px;
}

@media screen and (min-width: 500px) {
  .project__link {
    grid-template-areas:
      "image title"
      "description description";
  }
}

.project__link:hover,
.project__link:active {
  filter: saturate(2);

  transform: scale(1.02);
}
.project__link:visited {
  filter: brightness(1.2);
}
.project__title {
  grid-area: title;
  color: var(--text-accent-color);
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  text-align: center;
  font-size: clamp(1em, 10vw, 1.2em);
}

.project__image {
  grid-area: image;
  align-self: start;
  width: clamp(100px, 15vw, 128px);
  height: clamp(100px, 15vw, 128px);
  filter: grayscale(0.1);
}


.project__description {
  text-align: right;
  grid-area: description;
  width: 90%;
  font-weight: 500;
  font-size: 0.8em;
  padding-bottom: 0.1em;
}

.page-footer {
  font-size: 0.7em;
  opacity: 0.6;
  text-align: center;
  padding: 10px;
}

.page-footer__link {
  border-bottom: 1px solid;
}
