*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #645e9d;
  color: #4c1c00;
  font-size: 18px;
  font-family: monospace;
}

.photobooth {
  display: grid;
  grid-template-rows: auto auto;
  background: #ebf7f1;
  height: 92vh;
  margin: 2rem auto;
  border-radius: 2px;
}

@media screen and (max-height:600px) and (orientation: landscape) {
  .photobooth {
    display: flex;
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 5em;
  padding: 0.5em;
}

.color-controls {
  display: grid;
  width: max-content;
  gap: 0.5em 2em;
}

@media screen and (min-width:500px) {
  .controls {
    padding: 1.5em;
  }

  .color-controls {
    grid-template-columns: auto auto;

  }
}

@media screen and (max-height:600px) and (orientation: landscape) {
  .controls {
    width: 30vw;
    padding: 0.2em;
  }

  .color-controls {
    display: flex;
    flex-direction: column;

  }
}

.controls-label {
  font: inherit;
  display: flex;
  gap: 5px;
  align-items: center;
}

.range {
  width: 130px;
}

.range::-webkit-slider-runnable-track {
  background: #e3d7ff;
}

.range::-webkit-slider-thumb {
  background-color: #4c1c00;
}

.reset-button {
  justify-self: end;
  font: inherit;
  background: #e3d7ff;
  padding: 0 1em;
  width: max-content;
}

@media screen and (max-width: 1000px) {
  .ghosting {
    margin-left: auto;
  }
}

.photo {
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}

@media screen and (min-width: 1200px) {
  .photo {
    justify-self: center;
    height: 100%;
  }
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
}

@media screen and (max-width: 1000px) {
  .player {
    visibility: hidden;
  }
}

.photo-container {
  height: 130px;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.photo-button {
  width: max-content;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  margin-right: auto;
}

.photo-button__image {
  cursor: pointer;
}

.photo-button:hover,
.photo-button:active {
  transform: scale(1.02);
  opacity: 0.85;
}

.strip {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.strip__image {
  width: 95px;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: white;
}

.strip a:nth-child(5n + 1) img {
  transform: rotate(10deg);
}
.strip a:nth-child(5n + 2) img {
  transform: rotate(-2deg);
}
.strip a:nth-child(5n + 3) img {
  transform: rotate(8deg);
}
.strip a:nth-child(5n + 4) img {
  transform: rotate(-11deg);
}
.strip a:nth-child(5n + 5) img {
  transform: rotate(12deg);
}
