@media screen and (hover: hover) {
    p, input {
        display: none;
    }
}

input {
    position: absolute;
    color: transparent;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    z-index: -1;
}