*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(
    340deg,
    hsl(240deg 38% 77%) 0%,
    hsl(302deg 33% 75%) 4%,
    hsl(343deg 72% 81%) 12%,
    hsl(9deg 96% 83%) 33%,
    hsl(29deg 84% 79%) 67%,
    hsl(55deg 52% 75%) 82%,
    hsl(40deg 66% 78%) 90%,
    hsl(29deg 72% 82%) 94%,
    hsl(20deg 66% 84%) 97%,
    hsl(11deg 48% 85%) 99%,
    hsl(0deg 24% 84%) 100%
  );
}

.menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 0.7em;
  margin-top: 20px;
  font-size: 1.2em;
}

@media screen and (min-width: 900px) {
  .menu {
    gap: 20px;
    margin: 100px 0;
    font-size: 1.5em;
  }
}

.menu__item {
  padding: 5px;
  color: black;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 700px;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}

@media screen and (min-width: 900px) {
  .wrapper {
    font-size: 20px;
    line-height: 2;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .wrapper p:last-of-type {
    display: none;
  }
}
a {
  text-decoration: none;
  color: black;
  background: rgba(189, 186, 233, 0.274);
  border-radius: 20px;
  padding: 2px;
}

.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  background: white;
  border: 2px solid white;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
