*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #4e6766;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.search-form {
  margin: 50px 10px;
  max-width: 90vw;
}

.search {
  max-width: 90vw;
  padding: 1em;
  outline: 0;
  text-align: center;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
  font-size: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 750px) {
  .search {
    font-size: 1.5em;
    padding: 0.5em;
  }
}

.suggestions__item {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  padding: 1em;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions__item:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions__item:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

span.population {
  font-size: 1, 5em;
}

.hl {
  background: #ffc600;
}
