body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 5% 63%) 0%,
    hsl(271deg 5% 66%) 21%,
    hsl(310deg 5% 68%) 30%,
    hsl(335deg 8% 72%) 39%,
    hsl(351deg 10% 75%) 46%,
    hsl(5deg 12% 78%) 54%,
    hsl(16deg 15% 80%) 61%,
    hsl(25deg 17% 83%) 69%,
    hsl(37deg 17% 85%) 79%,
    hsl(53deg 15% 88%) 100%
  );  
  font-family: sans-serif;
}

.wrapper {
  width: 850px;
  display: flex;
}

video {
  max-width: 90vw;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
}

.speed {
  background: #efefef;
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  height: 16.3%;
}
